.main{
  background-color: #cccccc;
}

.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}

.image{
  width: 100px;
  height: 100px;
  background: white;
  margin: 15px auto;
}


.square {
  float: left;
  width: 70px;   /*10px*/
  height: 70px;   /*10px*/
  background: #E7E5DB;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}
