.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}

.canvas {
  width: 300px;
}

.square {
  float: left;
  width: 30px;
  height: 30px;
  background: #E7E5DB;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}