.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
  background-size: 100%;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
  background-size: 100%;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}

.canvas {
  margin: auto;
  margin-bottom: 50px;
  width: 500px;
  height: 400px;

}