.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}
#stamp-field {
  width: 20px;
  height: 20px;
}
.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}
